<!doctype html>
<head>
	<title>Open Info</title>
	<style type="text/css">
		html,body {
			background-color: transparent;
			margin: 0;
			padding: 0;
		}
		body {
			font-family: lulo-clean-w01-one-bold, sans-serif;
			font-style: normal;
			font-variant-caps: normal;
			font-weight: normal;
		}
		.descr {
			text-align: center;
			color:#fff;
			font-size: {{ font_size }}px;
		}
	</style>
	<link rel="stylesheet" href="https://static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/v3/languages.css" />
</head>
<body>
	<div class="descr">
		{% if is_open_now %}
			{% if activity.checkins is none %}
				Open Right Now
			{% else %}
				{{ activity.checkins }} Player{% if activity.checkins != 1 %}s{%endif%} Checked In Right Now
			{% endif %}
		{% else %}
			Open {{next_open_time.Day}} {{next_open_time.Open}} - {{next_open_time.Close}}
		{% endif %}
	</div>
</body>